.result-display {
  width: min(18rem, 80vw);
  height: 10rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border: 2px solid #333;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.result-display p {
  margin: 0.2rem 0;
}

.result-text {
  font-size: 2rem;
  font-weight: bold;
}

.result-braille {
  font-family: 'Noto Sans Braille', sans-serif;  /* 点字フォントを指定 */
  font-size: 2.5rem;  /* 点字をひらがなより少し大きく */
  margin-left: 1rem;  /* ひらがなとの間にスペースを空ける */
  font-weight: bold;
}

.result-dots-group {
  font-size: 1rem;
  color: #666;
}

.result-dots {
  
}

result-hex {
  margin-left: 1rem;
}